absl-py==2.0.0
bitsandbytes==0.41.1
configparser==6.0.0
datasets==2.14.3
huggingface-hub==0.16.4
matplotlib==3.7.3
matplotlib-inline==0.1.6
msal==1.27.0
msal-extensions==1.0.0
nltk==3.8.1
numpy==1.22.4
openai==1.12.0
pandas==2.0.3
peft==0.3.0
pillow==10.0.0
requests==2.31.0
rouge-score==0.1.2
safetensors==0.3.1
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.7.3
seaborn==0.12.2
sentencepiece==0.1.99
six==1.16.0
tokenizers==0.13.3
torch==2.0.0
tqdm==4.65.0
transformers==4.30.2